<div class="modal-header">
	<h1 class="modal-title">Datos Experiencia</h1>
	<i  class='boton-edicion far fa-window-close' 
		style="font-size: 2.5rem;"
		(click)="activeModal.close(false)"
	></i>
</div>
<div class="modal-body">
	<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
		<div class="container">
			<div>
				<input
				class="form-control"
				[ngClass]="{ 'is-invalid': (f['imagen'].touched || submitted) && f['imagen'].errors, 'is-valid': (f['imagen'].touched || submitted) && !f['imagen'].errors }"
				type="text"
				name="imagen"
				formControlName="imagen"
				placeholder="Imagen"
				required="required"
				autofocus
				/>
				<div *ngIf="(f['imagen'].touched || submitted) && f['imagen'].errors" class="error">
				  <div *ngIf="f['imagen'].errors['required']">* Debe ingresar una Imagen </div>
				  <div *ngIf="f['imagen'].errors['maxlength']">* Debe tener como máximo 255 caracteres.</div>
			   </div>
			</div>
			<div>
				<input
				class="form-control"
				[ngClass]="{ 'is-invalid': (f['empresa'].touched || submitted) && f['empresa'].errors, 'is-valid': (f['empresa'].touched || submitted) && !f['empresa'].errors }"
				type="text"
				name="empresa"
				formControlName="empresa"
				placeholder="Empresa"
				required="required"
				/>
				<div *ngIf="(f['empresa'].touched || submitted) && f['empresa'].errors" class="error">
				  <div *ngIf="f['empresa'].errors['required']">* Debe ingresar una Empresa </div>
				  <div *ngIf="f['empresa'].errors['maxlength']">* Debe tener como máximo 255 caracteres.</div>
			   </div>
			</div>
            <div>
				<input
				class="form-control"
				[ngClass]="{ 'is-invalid': (f['fecha_desde'].touched || submitted) && f['fecha_desde'].errors, 'is-valid': (f['fecha_desde'].touched || submitted) && !f['fecha_desde'].errors }"
				type="month" min="1900-01" value="2000-01"
				pattern="[0-9]{4}-[0-9]{2}"
				name="fecha_desde"
				formControlName="fecha_desde"
				placeholder="mm/aaaa"
				required="required"
				/>
				<div *ngIf="(f['fecha_desde'].touched || submitted) && f['fecha_desde'].errors" class="error">
				  <div *ngIf="f['fecha_desde'].errors['required']">* Debe ingresar una Fecha de Inicio </div>
				  <div *ngIf="f['fecha_desde'].errors['pattern']">* Debe ingresar una Fecha de Inicio válida</div>
			   </div>
			</div>
			<div>
				<input
				class="form-control"
				[ngClass]="{ 'is-invalid': (f['fecha_hasta'].touched || submitted) && f['fecha_hasta'].errors, 'is-valid': (f['fecha_hasta'].touched || submitted) && !f['fecha_hasta'].errors }"
				type="month" min="1900-01" value="2000-01"
				pattern="[0-9]{4}-[0-9]{2}"
				name="fecha_hasta"
				formControlName="fecha_hasta"
				placeholder="mm/aaaa"
				/>
				<div *ngIf="(f['fecha_hasta'].touched || submitted) && f['fecha_hasta'].errors" class="error">
				  <div *ngIf="f['fecha_hasta'].errors['pattern']">* Debe ingresar una Fecha de Fin válida</div>
			   </div>
			</div>
			<div>
				<input
				class="form-control"
				[ngClass]="{ 'is-invalid': (f['cargo'].touched || submitted) && f['cargo'].errors, 'is-valid': (f['cargo'].touched || submitted) && !f['cargo'].errors }"
				type="text"
				name="cargo"
				formControlName="cargo"
				placeholder="Cargo"
				required="required"
				/>
				<div *ngIf="(f['cargo'].touched || submitted) && f['cargo'].errors" class="error">
				  <div *ngIf="f['cargo'].errors['required']">* Debe ingresar un Cargo </div>
				  <div *ngIf="f['cargo'].errors['maxlength']">* Debe tener como máximo 255 caracteres.</div>
			   </div>
			</div>
            <textarea 
            class="form-control"
            [ngClass]="{ 'is-invalid': (f['detalle'].touched || submitted) && f['detalle'].errors, 'is-valid': (f['detalle'].touched || submitted) && !f['detalle'].errors }"
            name="detalle"
            formControlName="detalle"
            placeholder="Detalle... "
            required="required"
            rows="10"
            ></textarea>
            <div *ngIf="(f['detalle'].touched || submitted) && f['detalle'].errors" class="error">
              <div *ngIf="f['detalle'].errors['required']">* Debe ingresar un Detalle</div>
			  <div *ngIf="f['detalle'].errors['maxlength']">* Debe tener como máximo 255 caracteres.</div>
           </div>
        <button type="submit">Guardar</button>
		</div>	
	</form>
  </div>
<div class="modal-footer">
</div>


