<!--EXPERIENCIA-->
<section class="experiencia">
    <h2 class="titulo" id="experiencia">Experiencia</h2>
    <div class="contenedor contenedor-experiencia">
        <app-experiencia-item
            *ngFor="let unaExperiencia of experienciaList"
            [miExperiencia]="unaExperiencia"
            (onDeleteExperiencia)="eliminarExperiencia(unaExperiencia)"
        >
        </app-experiencia-item>
    </div>
    <div class="contenedor-edicion-titulo">
        <span><i class="boton-edicion-fill fa fa-plus"  *ngIf="modoEdicion"  (click)="agregarDatos()"></i></span>    
    </div>    
    <div *ngIf="errorMsg!=''" class="error">
        <div>{{errorMsg}} </div>
        <div>Vuelva a intentar más tarde.</div>
    </div>
</section>