  /* EXPERIENCIA */
  .experiencia {
    padding: 3rem 0;
    background: rgba(0, 0, 0, 0.5);
    color: #000000;
    margin-bottom:  0.5rem;
  }
  
  .experiencia .contenedor-experiencia{
    display: grid;
    justify-content: center;
    grid-auto-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 0.5rem;
  }

  .error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:#9f0e0e;
    font-size:1rem;
  }

  .waiting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color:green;
    font-size:1rem;
  }
