<!--FORMACION-->
<section class="formacion">
    <h2 class="titulo" id="formacion">Formación</h2>
    <div class="contenedor contenedor-formacion">
        <app-formacion-item
            *ngFor="let unaFormacion of formacionList"
            [miFormacion]= "unaFormacion"
            (onDeleteFormacion)="eliminarFormacion(unaFormacion)"
        >
        </app-formacion-item>
    </div>
    <div class="contenedor-edicion-titulo">
        <span><i class="boton-edicion-fill fa fa-plus"  *ngIf="modoEdicion" (click)="agregarDatos()"></i></span>    
    </div>    
    <div *ngIf="errorMsg!=''" class="error">
        <div>{{errorMsg}}</div>
        <div> Vuelva a intentar más tarde.</div>
    </div>
    <div *ngIf="waiting==true" class="waiting">
        <div class="loading">
            <img src="assets/imagenes/loading.gif">
        </div>
        <div>Cargando....</div>
        <div> Por favor espere.</div>
    </div>
</section>

