<div class="item">
    <div >
        <a><img [src]="miFormacion.imagen" [alt]="miFormacion.escuela"></a>
        <h4>{{miFormacion.escuela}}</h4>
    </div>
    <div >
        <div *ngFor="let curso of miFormacion.cursos">
            <h5>{{curso.fecha}} - {{curso.titulo}} </h5>
            <h5  [innerHTML]="prepararDatos(curso.descripcion)"></h5>
        </div>
        <div class="contenedor-edicion-bloque">
            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
        </div>
    </div>
</div>

