<div class="item">
    <div >
        <a><img [src]="miFormacion.imagen" [alt]="miFormacion.escuela"></a>
        <h4>{{miFormacion.escuela}}</h4>
    </div>
    <div>
        <h5>{{miFormacion.fecha}} - {{miFormacion.titulo}} </h5>
        <h5>{{miFormacion.descricion}} </h5>
        <div class="contenedor-edicion-bloque">
            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
        </div>
    </div>
</div>

