<div class="item">
    <input type="checkbox" name="">
    <div class="cambio red">?</div>
    <div class="img">
        <img [src]="miTecnologia.imagen" [alt]="miTecnologia.nombre">
        <div class="contenedor-edicion-bloque-derecha">
            <span><i class="boton-edicion fa fa-pencil-alt" *ngIf="modoEdicion"></i></span>
            <span><i class="boton-edicion fa fa-trash-alt" *ngIf="modoEdicion"></i></span>
        </div>    
    </div>
    <div class="detalles">
        <h3>{{miTecnologia.nombre}}</h3>
        <p>{{miTecnologia.detalle}}</p>
    </div>
</div>

