<div class="modal-header">
	<h1 class="modal-title">Datos Tecnología</h1>
	<i  class='boton-edicion far fa-window-close' 
		style="font-size: 2.5rem;"
		(click)="activeModal.close(false)"
	></i>
</div>
<div class="modal-body">
	<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
		<div class="container">
			<div>
				<input
				class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f['imagen'].errors }"
				type="text"
				name="imagen"
				formControlName="imagen"
				placeholder="Imagen"
				required="required"
				autofocus
				/>
				<div *ngIf="submitted && f['imagen'].errors" class="error">
				  <div *ngIf="f['imagen'].errors['required']">* Debe ingresar una Imagen </div>
			   </div>
			</div>
			<div>
				<input
				class="form-control"
				[ngClass]="{ 'is-invalid': submitted && f['nombre'].errors }"
				type="text"
				name="nombre"
				formControlName="nombre"
				placeholder="Nombre"
				required="required"
				/>
				<div *ngIf="submitted && f['nombre'].errors" class="error">
				  <div *ngIf="f['nombre'].errors['required']">* Debe ingresar un Nombre </div>
			   </div>
			</div>
            <textarea 
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f['detalle'].errors }"
            name="detalle"
            formControlName="detalle"
            placeholder="Detalle... "
            required="required"
            rows="10"
            ></textarea>
            <div *ngIf="submitted && f['detalle'].errors" class="error">
              <div *ngIf="f['detalle'].errors['required']">* Debe ingresar un Detalle</div>
           </div>
        <button type="submit">Guardar</button>
		</div>	
	</form>
  </div>
<div class="modal-footer">
</div>

