<div class="modal-header">
	<h1 class="modal-title">Inicio Sesión</h1>
	<i  class='boton-edicion far fa-window-close' 
		style="font-size: 2.5rem;"
		(click)="activeModal.close(false)"
	></i>
</div>
<div class="modal-body">
	<form [formGroup]="dataForm" (ngSubmit)="onEnviar($event)">
		<div class="container">
			<input
			class="form-control"
			[ngClass]="{'is-invalid': (f['mail'].touched || submitted) && f['mail'].errors, 'is-valid': (f['mail'].touched || submitted) && !f['mail'].errors}"
			formControlName="mail"
			type="mail"
			name="mail"
			placeholder="Email"
			/>
			<div *ngIf="f['mail'].errors && (f['mail'].touched || submitted)" class="error">
				<div *ngIf="f['mail'].errors['required']">* Debe ingresar un Email</div>
				<div *ngIf="f['mail'].errors['email']">* Debe ingresar un Email válido</div>
				<div *ngIf="f['mail'].errors['maxlength']">* El mail debe tener como máximo 255 caracteres.</div>
			</div>

			<input
			class="form-control"
			[ngClass]="{'is-invalid': (f['password'].touched || submitted) && f['password'].errors, 'is-valid': (f['password'].touched || submitted) && !f['password'].errors}"
			formControlName="password"
			type="password"
			name="password"
			placeholder="Password"
			/>
			<div *ngIf="(f['password'].touched || submitted) && f['password'].errors" class="error">
				<div *ngIf="f['password'].errors['required']">* Debe ingresar una password.</div>
				<div *ngIf="f['password'].errors['minlength']">* El password debe ser de 8 o más caracteres.</div>
				<div *ngIf="f['password'].errors['maxlength']">* El password debe tener como máximo 15 caracteres.</div>
			</div>

			<button *ngIf="waiting==false" type="submit">Ingresar</button>
			<div *ngIf="errorMsg!='' && waiting==false" class="error-login">
                <div>{{errorMsg}}</div>
                <div>Vuelva a intentar más tarde.</div>
            </div>
			<div *ngIf="datosInvalidos && waiting==false" class="error-login">
				<div >Acceso inválido. Por favor, inténtelo otra vez.</div>
			</div>
			<div *ngIf="waiting==true" class="waiting">
				<div class="loading">
					<img src="assets/imagenes/loading.gif">
				</div>
				<div>Validando usuario...</div>
			</div>		
		</div>
	</form>
</div>
<div class="modal-footer">
</div>