<div class="modal-header">
	<h1 class="modal-title">Inicio Sesión</h1>
	<i  class='boton-edicion far fa-window-close' 
		style="font-size: 2.5rem;"
		(click)="activeModal.dismiss(false)"
	></i>
</div>
<div class="modal-body">
	<div class="container">
		<input
		type="email"
		[(ngModel)]="email"
		name="email"
		placeholder="Email"
		required="required"
		/>
		<input
		type="password"
		[(ngModel)]="password"
		name="password"
		placeholder="Password"
		required="required"
		/>
		<button type="button" (click)="validarLogin()">Ingresar</button>
	</div>
</div>
<div class="modal-footer">
</div>