<!--FOOTER / CONTACTO-->
<footer class="footer">
    <div class="contenedor" id="contacto">
        <div class="redes-sociales">
            <a href="https://www.linkedin.com/in/natalialopardo" target="_blank" class="social linkedin"
                title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/lailatan/" target="_blank" class="social github" title="GitHub"><i
                    class="fab fa-github"></i></a>
            <i class="boton-edicion fas fa-pencil-alt"></i>
        </div>
    </div>
  
    <div class="sector-autor">
        <div class="contenedor-edicion-linea">
            <p class="autor">2022 - Natalia Lopardo - natalialopardo19@gmail.com</p>    
            <i class='boton-edicion fas fa-pencil-alt' style="font-size: 1.1rem;"></i>
        </div>
    </div>
    
    <!--
    <span><i class="boton-arriba fa fa-chevron-up" id="boton-arriba" aria-hidden="true"></i></span>
    -->
    <span><i class="boton-login fa fa-user-edit" id="boton-login" aria-hidden="true"></i></span>
  </footer>
  
