<!--SOBRE MI-->        
<section class="sobre-mi">
    <h2 class="titulo" id="sobre-mi">Sobre Mi</h2>
    <div class="contenedor contenedor-sobre-mi">
        <div class="item">
            <h5>{{misDatos.sobre_mi}}</h5>
             <div class="contenedor-edicion-bloque">
                <span><i class="boton-edicion fa fa-pencil-alt"  *ngIf="modoEdicion" (click)="editarDatos()"></i></span>
            </div>
        </div>
    </div>
    <div *ngIf="errorMsg!=''" class="error">
        <div>{{errorMsg}}</div>
        <div>Vuelva a intentar más tarde.</div>
    </div>
</section>
