<!--SOBRE MI-->        
<section class="sobre-mi">
    <h2 class="titulo" id="sobre-mi">Sobre Mi</h2>
    <div class="contenedor contenedor-sobre-mi">
        <div class="item">
            <h3>Soy Desarrolladora FullStack, BackEnd y Mobile. 
                Me apasiona encontrar soluciones Informáticas a problemas/situaciones cotidianas, moldeando la realidad
                con 01100011 01100101 01110010 01101111 01110011 y 01110101 01101110 01101111 01110011.</h3>
             <div class="contenedor-edicion-bloque">
                <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
            </div>
        </div>
    </div>
</section>
