<!--HEADER-->
<header class="header">
    <div class="contenedor contenedor-header">
        <div class="foto">
            <p><img [src]="misDatos.foto" [alt]="misDatos.nombre" class="foto"></p>
        </div> 
        <div class="datos_personales">
            <h1 class="nombre">{{misDatos.nombre}}</h1>
            <div class="contenedor-edicion-linea">
                <h2 class="profesion">{{misDatos.profesion}}</h2>
                <i class="boton-edicion fa fa-pencil-alt"  *ngIf="modoEdicion" (click)="editarDatos()"></i>       
            </div> 
            <div *ngIf="errorMsg!=''" class="error">
                <div>{{errorMsg}}</div>
                <div>Vuelva a intentar más tarde.</div>
            </div>
        </div>
    </div>
</header>