.contenedor-header{
  padding: 2rem 0;
}

.header .foto {
  margin-left:1rem;
  justify-content: center;
  }
  .header .foto img {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  }
  .header .datos_personales{
    text-align: center;
  }

  .header .contenedor-header .nombre {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    font-family: "Indie Flower", sans-serif;
    font-weight: bold;
  }

  .header .contenedor-header h2 {
    font-family: "Indie Flower", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 2rem;
  }

  .error {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5rem;
    margin-top: 1rem;
    color:#9f0e0e;
    margin-bottom: 1rem;
    font-size:1rem;
  }

/** Solo en pantalla Computadoras **/
@media only screen and (min-width: 48rem) {
  .contenedor-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header .contenedor-header .nombre {
    font-size: 4rem;
  }

  .header .contenedor-header h2 {
    font-size: 2rem;
  }
}