<!--HEADER-->
<header class="header">
    <div class="contenedor contenedor-header">
        <div class="foto">
            <p><img src="assets/imagenes/foto.jpg" alt="Natalia Lopardo" class="foto"></p>
        </div>    
        <div class="datos_personales">
            <span class="nombre">Natalia Lopardo</span>
            <div class="contenedor-edicion-linea">
                <h2 class="profesion">Desarrolladora Java FullStack</h2>
                <i class="boton-edicion fa fa-pencil-alt"></i>
            </div> 
        </div>
    </div>
  </header>
