/** Solo en pantalla Computadoras **/
@media only screen and (min-width: 48rem) {
    .proyecto .foto a img {
      filter: grayscale(0);
      transition: all 0.5s ease-in-out;
    }
    .proyecto .foto a img:hover {
      filter: grayscale(100);
    }
  }

.proyecto {
margin: auto;
width: 250px;
height: 400px;
}
.proyecto .info {
padding: 1rem 0.5rem;
height: 13.625rem;
background: #ffffff;
color: #000000;
border: 0.125rem solid #969a97;
}
.proyecto .info h4 {
text-align: center;
font-size: 1.3rem;
}
.proyecto .info h5 {
text-align: center;
font-size: 1.1rem;
font-weight: normal;
}
.proyecto .info p {
text-align: center;
font-size: 0.9rem;
font-weight: bold;
}
.proyecto .info p .tecnologia {
color: #cc4545;
}
.proyecto .info .titulo {
column-count: 2;
}
.info .icono {
height: 3rem;
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color:#9f0e0e;
  font-size:1rem;
}
