/** Media Queries **/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #E80000;
  border-radius: 5px;
}

body {
  font-family: "Oswald", sans-serif;
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}


.titulo {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: black;
}

.boton-arriba {
  padding: 1rem;
  background: rgba(232, 0, 0, 0.7);
  border-radius: 50%;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 1;
}

.main .proyectos .contenedor-proyectos .proyecto .foto a img {
  filter: grayscale(0);
  transition: all 0.5s ease-in-out;
}
.main .proyectos .contenedor-proyectos .proyecto .foto a img:hover {
  filter: grayscale(100);
}

.menu {
  margin-top: 2rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  border-top: 0.1rem solid rgba(86, 86, 86, 0.5);
  border-bottom: 0.1rem solid rgba(86, 86, 86, 0.5);
  position: sticky;
  z-index: 11;
  top: 0;
  display: grid;
  grid-template-columns: 10% auto;
}
.menu .foto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
.menu .foto img {
  width: 2.5rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}
.menu .contenedor-menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.menu .contenedor-menu a {
  margin-top: 2.5rem;
  text-align: center;
  text-decoration: none;
  color: #c90c0f;
  font-size: 0.9rem;
  line-height: 1rem;
  text-transform: uppercase;
}
.menu .contenedor-menu a:hover {
  color: #ffffff;
}

.header {
  height: 30rem;
  width: 100%;
}

.header .foto {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.header .foto img {
  width: 25rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}
.header .contenedor-header {
  column-count: 2;
  min-height: 100vh;
  padding: 3rem 0;
  background: #ffffff;
  color: #000000;
  align-content: center;
  align-items: center;
  column-span:all;  
  margin-bottom: 3rem;
}
.header .contenedor-header .datos_personales{
  align-items: center;
  justify-content: center;
}

.header .contenedor-header .nombre {
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-family: "Indie Flower", sans-serif;
  font-weight: bold;
}

.header .contenedor-header .profesion {
  width: 14.75rem;
  text-align: center;
  font-family: "Indie Flower", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}
.header .contenedor-header blockquote {
  line-height: 1.5;
  font-style: italic;
  color: #9AA1A9;
}

/** Media Queries **/
.main .sobre-mi {
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-right: 10rem;
}

.main .formacion {
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-right: 10rem;
}

.main .formacion .contenedor-formacion{
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: 100px 100px 100px 100px 100px ;
  padding: 3rem 1rem;

}
.main .formacion .contenedor-formacion .item{
  padding: 1rem 1rem;
  background: #ffffff;
  color: #000000;
  border: 0.125rem solid #969a97;
  column-count: 2;
  margin-left: 10rem;
  margin-right: 10rem;
}
.main .formacion .contenedor-formacion .item img{
  height: 50px;
}

.main .conocimientos {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  padding: 3rem 0;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-right: 10rem;
}


.main .conocimientos .contenedor .contenedor-conocimientos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  grid-row-gap: 1rem;
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta {
  margin: 4rem auto 0 auto;
  position: relative;
  width: 16rem;
  height: 18rem;
  background: #262626;
  overflow: hidden;
}

.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta img{
  width: 16rem;
  height: 18rem;
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input,
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .cambio {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  bottom: 1.25rem;
  right: 1.25rem;
  outline: none;
  z-index: 10;
  
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input {
  opacity: 0;
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input:hover {
  cursor: pointer;
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input:checked ~ .black {
  box-shadow: 0 0 0 31.25rem #0d0d0d;
  transform: rotate(-225deg);
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input:checked ~ .red {
  box-shadow: 0 0 0 31.25rem #770000;
  transform: rotate(225deg);
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .cambio {
  pointer-events: none;
  border-radius: 50%;
  color: #000000;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.9375rem;
  box-shadow: 0 0 0 0px #393939;
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .red {
  box-shadow: 0 0 0 0px #cc4545;
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .img,
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .detalles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .detalles {
  padding: 1.25rem;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta input:checked ~ .detalles {
  opacity: 1;
  transition-delay: 0.5s;
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .detalles h3 {
  margin-bottom: 0.3125rem;
  color: #ffffff;
  text-align: center;
}
.main .conocimientos .contenedor .contenedor-conocimientos .tarjeta .detalles p {
  font-size: 0.9rem;
  color: #ffffff;
  line-height: 1.65;
}

.main .experiencia {
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  margin-left: 10rem;
  margin-bottom: 10rem;
  margin-right: 10rem;
}

.main .experiencia .contenedor-experiencia{
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: 150px 150px 150px 150px ;
  padding: 3rem 0;

}
.main .experiencia .contenedor-experiencia .item{
  padding: 1rem 0.5rem;
  height: 10.625rem;
  background: #ffffff;
  color: #000000;
  border: 0.125rem solid #969a97;
  column-count: 2;
  margin-left: 10rem;
  margin-right: 10rem;
}
.main .experiencia .contenedor-experiencia .item img{
  height: 50px;
}

/** Media Queries **/
.footer {
  background: #ffffff;
  color: #000000;
  padding: 2rem 0 0 0;
}
.footer .contenedor .redes-sociales {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}
.footer .contenedor .redes-sociales .social {
  width: 4.375rem;
  height: 4.375rem;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 0.625rem;
  border-radius: 30%;
  box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
  overflow: hidden;
  position: relative;
}
.footer .contenedor .redes-sociales .social i {
  line-height: 4.375rem;
  font-size: 1.4375rem;
  transition: 0.2s linear;
}
.footer .contenedor .redes-sociales .linkedin {
  color: #333333;
}
.footer .contenedor .redes-sociales .github {
  color: #333333;
}
.footer .contenedor .redes-sociales .social:hover i {
  transform: scale(1.3);
  color: #333333;
}
.footer .contenedor .redes-sociales .social::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.footer .contenedor .redes-sociales .linkedin::before {
  background: #cc4545;
}

.footer .contenedor .redes-sociales .github::before {
  background: #cc4545;
}
.footer .contenedor .redes-sociales .social:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.footer p {
  background: #d1d1d1;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
}

/** Media Queries **/
@media only screen and (min-width: 48rem) {
  .menu {
    grid-template-columns: 10% auto 10%;
  }
  .menu .contenedor-menu a {
    font-size: 1.1rem;
  }
  .menu .idiomas {
    display: grid;
    flex-direction: column;
  }

  .header {
    height: 100vh;
  }
  .header .contenedor-header {
    height: 100%;
  }
  .header .contenedor-header .nombre {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }
  .header .contenedor-header h2 {
    min-width: 35.375rem;
    max-width: 35.375rem;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
}.main formacion .contenedor-formacion .estudio .foto a img {
  filter: grayscale(0);
  transition: all 0.5s ease-in-out;
}
.main formacion .contenedor-formacion .estudio .foto a img:hover {
  filter: grayscale(100);
}


