/** Media Queries **/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #E80000;
  border-radius: 5px;
}

body {
  font-family: "Oswald", sans-serif;
  background: url("../img/prism1.png") repeat;
  background-attachment: fixed;
  color: #ffffff;
}

.contenedor {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.titulo {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

.boton-arriba {
  padding: 1rem;
  background: rgba(232, 0, 0, 0.7);
  border-radius: 50%;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 1;
}

.boton-login {
  padding: 1rem;
  background: rgba(232, 0, 0, 0.7);
  border-radius: 50%;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 1.25rem;
  left: 1.25rem;
  z-index: 1;
}
.boton-edicion {
  padding: 1rem;
  font-size: 1.4rem;
  color: rgba(232, 0, 0, 0.7);
  cursor: pointer;
  z-index: 1;
  display:none;
  align-self: center;
}

.boton-edicion-fill {
  padding: 1rem;
  font-size: 1.4rem;
  color: rgba(232, 0, 0, 0.7);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  z-index: 1;
  display:none;
}

.contenedor-edicion-bloque {
  display: flex;
  flex-direction: row-reverse;
}

.contenedor-edicion-bloque-derecha {
  display: flex;
  flex-direction: row;
}
.contenedor-edicion-linea{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-items: center;
  text-align: center;
  margin:auto;
}
.contenedor-edicion-titulo{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** Solo en pantalla Computadoras **/
@media only screen and (min-width: 48rem) {
  .menu {
    grid-template-columns: 10% auto 10%;
  }
  .menu .contenedor-menu a {
    font-size: 1.1rem;
  }
  .menu .logo {
    display: grid;
    flex-direction: column;
  }
  .header {
    height: 100vh;
  }
  .header .contenedor-header {
    height: 100%;
    color: #000000;
    display: grid;
    flex-direction: column;
    grid-template-columns:repeat(auto-fit, minmax(1.5625rem, 1fr));
    justify-content: center;
    align-items: center;
  }  
  .header .foto img {
    width: 40rem;
    border-radius: 50%;
  }
  .header .contenedor-header .nombre {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }
  .header .contenedor-header h2 {
    min-width: 35.375rem;
    max-width: 35.375rem;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
  .main{
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .main .formacion .contenedor-formacion .item a img {
    filter: grayscale(0);
    transition: all 0.5s ease-in-out;
  }
  .main .formacion .contenedor-formacion .item img:hover {
    filter: grayscale(100);
  }
  .main .experiencia .contenedor-experiencia .item  a img {
    filter: grayscale(0);
    transition: all 0.5s ease-in-out;
  }
  .main .experiencia .contenedor-experiencia .item  a img:hover {
    filter: grayscale(100);
  }
  .main .proyectos .contenedor-proyectos .proyecto .foto a img {
    filter: grayscale(0);
    transition: all 0.5s ease-in-out;
  }
  .main .proyectos .contenedor-proyectos .proyecto .foto a img:hover {
    filter: grayscale(100);
  }
}
/** MENU **/
.menu {
  margin-top: 2rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  border-top: 0.1rem solid rgba(86, 86, 86, 0.5);
  border-bottom: 0.1rem solid rgba(86, 86, 86, 0.5);
  position: sticky;
  z-index: 11;
  top: 0;
  display: grid;
  grid-template-columns: 10% auto;
}
.menu .foto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
.menu .foto img {
  width: 2.5rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}
.menu .contenedor-menu {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
.menu .contenedor-menu a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1rem;
  text-transform: uppercase;
}

.menu .contenedor-menu .primera_linea {
  text-align: left;
}

.menu .contenedor-menu .segunda_linea {
  text-align: center;
}

.menu .contenedor-menu a:hover {
  color: #c90c0f;
}
.menu .logo {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(1.5625rem, 1fr));
  align-items: center;
  text-align: center;
}
.menu .logo img.active {
  opacity: 0.5;
}
.menu .logo img {
  width: 6rem;
}
.menu .logo img:hover {
  opacity: 0.5;
}

/** HEADER **/
.header {
  height: 30rem;
  width: 100%;
  align-items: center;
}
.header .contenedor-header {
  padding-left: 4rem;
  height: 100%;
  color: #000000;
  display: grid;
  flex-direction: row;
  grid-template-rows:repeat(auto-fit, minmax(1.5625rem, 1fr));
  grid-row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.header .foto {
  margin-left:1rem;
  width: 60%;
  height: 60%;
  justify-content: center;
}
.header .foto img {
  width: 30rem;
  border-radius: 50%;
}
.header .contenedor-header .datos_personales{
  align-items: center;
  justify-content: center;
}
.header .contenedor-header .nombre {
  padding-left: 3rem;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-family: "Indie Flower", sans-serif;
  font-weight: bold;
}
.header .contenedor-header h2 {
  padding-left: 3rem;
  width: 14.75rem;
  text-align: center;
  font-family: "Indie Flower", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

/** MAIN **/
/** SOBRE MI **/

.main .sobre-mi {
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  margin-bottom: 3rem;
}

.main .sobre-mi .contenedor-sobre-mi .item {
  padding: 1.5rem 0;
  background: #ffffff;
  color: #000000;
  width: 70%; 
  margin: 0 auto;
}

.main .sobre-mi .contenedor-sobre-mi .item h3 {
  width: 90%;
  margin: 0 auto;
}

/* FORMACION */
.main .formacion {
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  margin-bottom: 3rem;
}

.main .formacion .contenedor-formacion{
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
}
.main .formacion .contenedor-formacion .item{
  padding: 1rem 0.5rem;
  background: #ffffff;
  color: #000000;
  border: 0.125rem solid #969a97;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.main .formacion .contenedor-formacion .item img{
  height: 50px;
}

/* CONOCIMIENTOS - TECNOLOGIAS*/
.main .conocimientos {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  padding: 3rem 0;
  margin-bottom: 3rem;
}
.main .conocimientos .contenedor .contenedor-conocimientos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(21.875rem, 1fr));
  grid-row-gap: 1rem;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item {
  margin: auto;
  position: relative;
  width: 16rem;
  height: 23rem;
  background: #ffffff;
  overflow: hidden;
}

.main .conocimientos .contenedor .contenedor-conocimientos .item img{
  width: 16rem;
  height: 18rem;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item input,
.main .conocimientos .contenedor .contenedor-conocimientos .item .cambio {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  bottom: 1.25rem;
  right: 1.25rem;
  outline: none;
  z-index: 10;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item input {
  opacity: 0;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item input:hover {
  cursor: pointer;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item input:checked ~ .black {
  box-shadow: 0 0 0 31.25rem #0d0d0d;
  transform: rotate(-225deg);
}
.main .conocimientos .contenedor .contenedor-conocimientos .item input:checked ~ .red {
  box-shadow: 0 0 0 31.25rem #770000;
  transform: rotate(225deg);
}
.main .conocimientos .contenedor .contenedor-conocimientos .item .cambio {
  pointer-events: none;
  border-radius: 50%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.9375rem;
  box-shadow: 0 0 0 0px #393939;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item .red {
  box-shadow: 0 0 0 0px #cc4545;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item .img,
.main .conocimientos .contenedor .contenedor-conocimientos .item .detalles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item .detalles {
  padding: 1.25rem;
  box-sizing: border-box;
  z-index: 11;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item input:checked ~ .detalles {
  opacity: 1;
  transition-delay: 0.5s;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item .detalles h3 {
  margin-bottom: 0.3125rem;
  color: #ffffff;
  text-align: center;
}
.main .conocimientos .contenedor .contenedor-conocimientos .item .detalles p {
  font-size: 0.9rem;
  color: #ffffff;
  line-height: 1.65;
}

/* EXPERIENCIA */
.main .experiencia {
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  margin-bottom: 3rem;
}

.main .experiencia .contenedor-experiencia{
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
}
.main .experiencia .contenedor-experiencia .item{
  padding: 1rem 0.5rem;
  background: #ffffff;
  color: #000000;
  border: 0.125rem solid #969a97;
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.main .experiencia .contenedor-experiencia .item img{
  height: 50px;
}

/** PROYECTOS**/
.main .proyectos {
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  margin-bottom: 3rem;
}
.main .proyectos .contenedor-proyectos {
  display: grid;
  justify-content: left;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
.main .proyectos .contenedor-proyectos .proyecto {
  margin: auto;
  width: 250px;
  height: 370px;
}
.main .proyectos .contenedor-proyectos .proyecto .info {
  padding: 1rem 0.5rem;
  height: 11.625rem;
  background: #ffffff;
  color: #000000;
  border: 0.125rem solid #969a97;
}
.main .proyectos .contenedor-proyectos .proyecto .info h4 {
  text-align: center;
  font-size: 1.3rem;
}
.main .proyectos .contenedor-proyectos .proyecto .info h5 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: normal;
}
.main .proyectos .contenedor-proyectos .proyecto .info p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}
.main .proyectos .contenedor-proyectos .proyecto .info p .tecnologia {
  color: #cc4545;
}
.main .proyectos .contenedor-proyectos .proyecto .info .titulo {
  column-count: 2;
}
.main .proyectos .contenedor-proyectos .proyecto .info .icono {
  height: 3rem;
}

/** FOOTER **/
.footer {
  background: #ffffff;
  color: #000000;
  padding: 2rem 0 0 0;
}
.footer .contenedor .redes-sociales {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}
.footer .contenedor .redes-sociales .social {
  width: 4.375rem;
  height: 4.375rem;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 0.625rem;
  border-radius: 30%;
  box-shadow: 0 0.3125rem 0.9375rem -0.3125rem #00000070;
  overflow: hidden;
  position: relative;
}
.footer .contenedor .redes-sociales .social i {
  line-height: 4.375rem;
  font-size: 1.4375rem;
  transition: 0.2s linear;
}
.footer .contenedor .redes-sociales .linkedin {
  color: #333333;
}
.footer .contenedor .redes-sociales .github {
  color: #333333;
}
.footer .contenedor .redes-sociales .social:hover i {
  transform: scale(1.3);
  color: #333333;
}
.footer .contenedor .redes-sociales .social::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.footer .contenedor .redes-sociales .linkedin::before {
  background: #cc4545;
}
.footer .contenedor .redes-sociales .github::before {
  background: #cc4545;
}
.footer .contenedor .redes-sociales .social:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.footer .sector-autor{
  background: #d1d1d1;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  text-align: center;
}
.footer .sector-autor p {
  background: #d1d1d1;
  padding: 0.5rem 0;
  margin-left: 2rem;
  font-weight: 600;
}

/** Media Queries **/
@media only screen and (min-width: 48rem) {
  .menu {
    grid-template-columns: 10% auto 10%;
  }
  .menu .contenedor-menu a {
    font-size: 1.1rem;
  }
  .menu .logo {
    display: grid;
    flex-direction: column;
  }

  .header {
    height: 100vh;
  }
  .header .contenedor-header {
    height: 100%;
  }
  .header .contenedor-header .nombre {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }
  .header .contenedor-header h2 {
    min-width: 35.375rem;
    max-width: 35.375rem;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }
}


