/* CONOCIMIENTOS - TECNOLOGIAS*/
.conocimientos {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  padding: 3rem 0;
  margin-bottom: 3rem;
}
.conocimientos .contenedor .contenedor-conocimientos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(21.875rem, 1fr));
  grid-row-gap: 1rem;
}
