<!--TECNOLOGIAS-->
<section>
    <div class="conocimientos">
        <h2 class="titulo" id="conocimientos">Tecnologías</h2>
        <div class="contenedor">
            <div class="contenedor-conocimientos">
                <app-tecnologias-item
                    *ngFor="let unaTecnologia of tecnologiasList"
                    [miTecnologia]="unaTecnologia"
                    (onDeleteTecnologia)="eliminarTecnologia(unaTecnologia)"
                    (onUpdateTecnologia)="cambiarTecnologia(unaTecnologia)"
                >
                </app-tecnologias-item>
            </div>
        </div>
        <div class="contenedor-edicion-titulo">
            <span><i class="boton-edicion-fill fa fa-plus" *ngIf="modoEdicion" (click)="agregarDatos()"></i></span>    
        </div>    
    </div>
</section>
