<!--TECNOLOGIAS-->
<section>
    <div class="conocimientos">
        <h2 class="titulo" id="conocimientos">Tecnologías</h2>
        <div class="contenedor">
            <div class="contenedor-conocimientos">
                <div class="item">
                    <input type="checkbox" name="">
                    <div class="cambio red">?</div>
                    <div class="img">
                        <img src="assets/imagenes/tecnologias/java.png" alt="Java">
                        <div class="contenedor-edicion-bloque-derecha">
                            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                        </div>    
                    </div>
                    <div class="detalles">
                        <h3>JAVA</h3>
                        <p>
                            Java es un lenguaje de programación orientado a objetos que se incorporó al 
                            ámbito de la informática en los años noventa. La idea de Java es que pueda 
                            realizarse programas con la posibilidad de ejecutarse en cualquier contexto, 
                            en cualquier ambiente, siendo así su portabilidad uno de sus principales logros.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <input type="checkbox" name="">
                    <div class="cambio black">?</div>
                    <div class="img">
                        <img src="assets/imagenes/tecnologias/python.png" alt="Python">
                        <div class="contenedor-edicion-bloque-derecha">
                            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                        </div>    
                    </div>
                    <div class="detalles">
                        <h3>PYTHON</h3>
                        <p>
                            Python es un lenguaje de programación interpretado cuya filosofía hace hincapié 
                            en la legibilidad de su código. Es lenguaje de programación multiparadigma, 
                            ya que soporta parcialmente la orientación a objetos, programación imperativa y, 
                            en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y 
                            multiplataforma.    
                        </p>
                    </div>
                </div>

                <div class="item">
                    <input type="checkbox" name="">
                    <div class="cambio red">?</div>
                    <div class="img">
                        <img src="assets/imagenes/tecnologias/vb.png" alt="Visual Basic">
                        <div class="contenedor-edicion-bloque-derecha">
                            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                        </div>    
                    </div>
                    <div class="detalles">
                        <h3>VISUAL BASIC</h3>
                        <p>
                            Visual Basic (VB) es un lenguaje de programación dirigido por eventos, 
                            desarrollado por Alan Cooper para Microsoft. Este lenguaje de programación es 
                            un dialecto de BASIC, con importantes agregados. Su primera versión fue presentada 
                            en 1991, con la intención de simplificar la programación utilizando un 
                            ambiente de desarrollo.                                
                        </p>
                    </div>
                </div>
                    
                <div class="item">
                    <input type="checkbox" name="">
                    <div class="cambio black">?</div>
                    <div class="img">
                        <img src="assets/imagenes/tecnologias/html.png" alt="HTML">
                        <div class="contenedor-edicion-bloque-derecha">
                            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                        </div>    
                    </div>
                    <div class="detalles">
                        <h3>HTML</h3>
                        <p> El Lenguaje de Marcado de Hipertexto (HTML) es el código que se utiliza para estructurar y desplegar 
                            una página web y sus contenidos. 
                            HTML5 es la quinta revisión del estándar HTML y permite soportar lo último en multimedia.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <input type="checkbox" name="">
                    <div class="cambio red">?</div>
                    <div class="img">
                        <img src="assets/imagenes/tecnologias/css.png" alt="CSS">
                        <div class="contenedor-edicion-bloque-derecha">
                            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                        </div>    
                    </div>
                    <div class="detalles">
                        <h3>CSS</h3>
                        <p>CSS (siglas en inglés de Cascading Style Sheets), en español «Hojas de estilo en cascada», 
                            es un lenguaje de diseño gráfico para definir y crear la presentación de un documento 
                            estructurado escrito en un lenguaje de marcado.
                        </p>
                    </div>
                </div>
        
                <div class="item">
                    <input type="checkbox" name="">
                    <div class="cambio black">?</div>
                    <div class="img">
                        <img src="assets/imagenes/tecnologias/js.png" alt="JavaScript">
                        <div class="contenedor-edicion-bloque-derecha">
                            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                        </div>    
                    </div>
                    <div class="detalles">
                        <h3>JAVASCRIPT</h3>
                        <p>JavaScript (abreviado comúnmente JS) es un lenguaje de programación interpretado, 
                            dialecto del estándar ECMAScript. Se define como orientado a objetos, 
                            basado en prototipos, imperativo, débilmente tipado y dinámico.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <input type="checkbox" name="">
                    <div class="cambio red">?</div>
                    <div class="img">
                        <img src="assets/imagenes/tecnologias/json_api_sql.png" alt="SQL JSON API REST">
                        <div class="contenedor-edicion-bloque-derecha">
                            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                        </div>    
                    </div>
                    <div class="detalles">
                        <h3>SQL - JSON - API REST</h3>
                        <p> SQL (Structured Query Language) es un lenguaje de dominio específico, 
                            diseñado para administrar información de bases de datos relacionales.
                            API REST define un conjunto de funciones para realizar 
                            solicitudes y recibir respuestas a través del protocolo HTTP.
                            JSON (JS Object Notation) es un formato de texto sencillo para el intercambio de datos. 
                        </p>
                    </div>
                </div>
                <div class="item">
                    <input type="checkbox" name="">
                    <div class="cambio black">?</div>
                    <div class="img">
                        <img src="assets/imagenes/tecnologias/android_intellij_vsc.png" alt="">
                        <div class="contenedor-edicion-bloque-derecha">
                            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                        </div>    
                    </div>
                    <div class="detalles">
                        <h3>Android Studio - IntelliJ Idea - Visual Studio Code</h3>
                        <p>Android Studio es el entorno de desarrollo integrado oficial para la plataforma Android. 
                        IntelliJ IDEA es un entorno de desarrollo integrado (IDE) para el desarrollo de programas informáticos. 
                        Visual Studio Code es un editor de código fuente para Windows, Linux, macOS y Web.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <input type="checkbox" name="">
                    <div class="cambio red">?</div>
                    <div class="img">
                        <img src="assets/imagenes/tecnologias/git_github.png" alt="GIT GITHUB">
                        <div class="contenedor-edicion-bloque-derecha">
                            <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                            <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                        </div>    
                    </div>
                    <div class="detalles">
                        <h3>GIT GITHUB</h3>
                        <p>GIT es un software de control de versiones, pensando en la eficiencia, la confiabilidad 
                            y compatibilidad del mantenimiento de versiones de aplicaciones cuando 
                            tienen un gran número de archivos de código fuente.
                            GitHub es una plataforma de desarrollo colaborativo de software 
                            para alojar proyectos utilizando el sistema de Git. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-edicion-titulo">
            <span><i class="boton-edicion-fill fa fa-plus"></i></span>    
        </div>    
    </div>
</section>
