/* CONOCIMIENTOS - TECNOLOGIAS*/
.conocimientos {
  background: rgba(0, 0, 0, 0.5);
  color: #000000;
  padding: 3rem 0;
  margin-bottom:  0.5rem;
}
.conocimientos .contenedor .contenedor-conocimientos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(21.875rem, 1fr));
  grid-row-gap: 1rem;
}

.error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5rem;
  margin-top: 1rem;
  color:#9f0e0e;
  margin-bottom: 1rem;
  font-size:1rem;
}

.waiting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 1rem;
  color:green;
  margin-bottom: 1rem;
  font-size:1rem;
}
