<!--PROYECTOS-->
<section class="proyectos">
    <h2 class="titulo" id="proyectos">Proyectos recientes</h2>
    <div class="contenedor contenedor-proyectos">
        <app-proyectos-item
            *ngFor="let unProyecto of proyectosList"
            [miProyecto]="unProyecto"
        >
        </app-proyectos-item>
    </div>             
    <div class="contenedor-edicion-titulo">
        <span><i class="boton-edicion-fill fa fa-plus"  *ngIf="modoEdicion"></i></span>    
    </div>    
</section>

