<!--PROYECTOS-->
<section class="proyectos">
    <h2 class="titulo" id="proyectos">Proyectos recientes</h2>
    <div class="contenedor contenedor-proyectos">
        <div class="proyecto">
            <div class="foto">
                <a href="https://github.com/lailatan/Android_Calc_Insulina_Activa" target="_blank">
                    <img src="assets/imagenes/proyectos/ia_pantallas.png" alt=""></a>
            </div>
            <div class="info">
                <img class="icono" src="assets/imagenes/proyectos/ia.jpg" alt="">
                <h4>Insulina Activa</h4>
                <h5>Tecnologías utilizadas:</h5>
                <p><span class="tecnologia">Android Studio - Java</span></p>
                <div class="contenedor-edicion-bloque">
                    <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                    <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                </div>
            </div>
        </div>

        <div class="proyecto">
            <div class="foto">
                <a href="https://github.com/lailatan/Android_ConteodeCarbohidratos_V2" target="_blank">
                    <img src="assets/imagenes/proyectos/ch_pantallas.jpg" alt=""></a>
            </div>
            <div class="info">
                <img class="icono" src="assets/imagenes/proyectos/ch.jpg" alt="">
                <h4>Conteo Carbohidratos</h4>
                <h5>Tecnologías utilizadas:</h5>
                <p><span class="tecnologia">Android Studio - Java</span></p>
                <div class="contenedor-edicion-bloque">
                    <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                    <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                </div>
            </div>
        </div>

        <div class="proyecto">
            <div class="foto">
                <a href="https://github.com/lailatan/Android_FecNacTarot" target="_blank">
                    <img src="assets/imagenes/proyectos/tarot_pantallas.jpg" alt=""></a>
            </div>
            <div class="info">
                <img class="icono" src="assets/imagenes/proyectos/tarot.jpg" alt="">
                <h4>Tarot</h4>
                <h5>Tecnologías utilizadas:</h5>
                <p><span class="tecnologia">Android Studio - Java</span></p>
                <div class="contenedor-edicion-bloque">
                    <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                    <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                </div>
            </div>
        </div>

        <div class="proyecto">
            <div class="foto">
                <a href="https://github.com/lailatan/Android_ConvertidorMedidasNatalia" target="_blank">
                    <img src="assets/imagenes/proyectos/medidas_pantallas.png" alt=""></a>
            </div>
            <div class="info">
                <img class="icono" src="assets/imagenes/proyectos/medidas.jpg" alt="">
                <h4>Conversor Medidas</h4>
                <h5>Tecnologías utilizadas:</h5>
                <p><span class="tecnologia">Android Studio - Java</span></p>
                <div class="contenedor-edicion-bloque">
                    <span><i class="boton-edicion fa fa-pencil-alt"></i></span>
                    <span><i class="boton-edicion fa fa-trash-alt"></i></span>
                </div>
            </div>
        </div> 

    </div>             
    <div class="contenedor-edicion-titulo">
        <span><i class="boton-edicion-fill fa fa-plus"></i></span>    
    </div>    
</section>

