<!--PROYECTOS-->
<section class="proyectos">
    <h2 class="titulo" id="proyectos">Proyectos recientes</h2>
    <div class="contenedor contenedor-proyectos">
        <app-proyectos-item
            *ngFor="let unProyecto of proyectosList"
            [miProyecto]="unProyecto"
            (onDeleteProyecto)="eliminarProyecto(unProyecto)"
        >
        </app-proyectos-item>
    </div>             
    <div class="contenedor-edicion-titulo">
        <span><i class="boton-edicion-fill fa fa-plus"  *ngIf="modoEdicion"  (click)="agregarDatos()"></i></span>    
    </div>    
    <div *ngIf="errorMsg!=''" class="error">
        <div>{{errorMsg}}</div>
        <div>Vuelva a intentar más tarde.</div>
    </div>
    <div *ngIf="waiting==true" class="waiting">
        <div>Cargando....</div>
        <div> Por favor espere.</div>
    </div>
</section>

