<nav class="menu">
    <div class="foto">
        <a routerLink="/encabezado">
            <p><img [src]="misDatos.foto" [alt]="misDatos.nombre" class="foto"></p>
        </a>
    </div>
    <div class="contenedor contenedor-menu">
        <a routerLink="/sobre-mi" class="primera_linea">Sobre mí</a>
        <a routerLink="/formacion" class="primera_linea">Formación</a>
        <a routerLink="/tecnologias"class="primera_linea">Tecnologías</a>
        <a routerLink="/experiencia"class="segunda_linea">Experiencia</a>
        <a routerLink="/proyectos" class="segunda_linea">Proyectos</a>
        <a routerLink="/contacto" class="segunda_linea">Contacto</a>
    </div>
    <div class="logo">
        <div class="AP logo">
            <img src="assets/imagenes/APLogo.png" alt="AP">
        </div>
    </div>
</nav>
  
