<nav class="menu">
    <div class="foto">
        <p><img src="assets/imagenes/foto.jpg" alt="Natalia Lopardo" class="foto"></p>
    </div>
    <div class="contenedor contenedor-menu">
        <a href="#sobre-mi" class="primera_linea">Sobre mí</a>
        <a href="#formacion" class="primera_linea">Formación</a>
        <a href="#conocimientos"class="primera_linea">Tecnologías</a>
        <a href="#experiencia"class="segunda_linea">Experiencia</a>
        <a href="#proyectos" class="segunda_linea">Proyectos</a>
        <a href="#contacto" class="segunda_linea">Contacto</a>
    </div>
    <div class="logo">
        <div class="AP logo">
            <img src="assets/imagenes/APLogo.png" alt="AP">
        </div>
    </div>
</nav>
  
